html, body {
    height: 100%;
    width: 100%;
  }
  
  .button {
    border-radius: 30px;
    width: 100px;
    background-color: #f92506; 
    padding: 5px;
    
    
  }
  
  .table {
    width: 200px; height: 400px;
    background-color: blue;
    border-radius: 10px
  
  }
  
  .success{
    color: yellowgreen;
    
  }